@use "../variables" as *;
@use "../../shared/components/CreditsLayout.module.scss" as * with (
  $credits-text: $box-background,
  $credits-background-item: $lazulight-primary-color
);

h3 {
  margin-top: 40px;
}

h4 {
  top: 0;
  margin-top: 10px;
  margin-bottom: -5px;
  position: relative;
}
