@use "../variables" as *;
@use "../../shared/components/CreditsLayout.module.scss" as * with (
  $credits-text: $box-background,
  $credits-background-item: $lazulight-primary-color
);

h3 {
  margin-top: 18px;
}

h4 {
  margin-bottom: -5px;
}
