@use "../variables" as *;

.title {
  color: white;
}

.doujin-reader {
  position: relative;
}

.doujin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.doujin-size-detect {
  width: 100%;
  aspect-ratio: 8.5/11;
  max-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  pointer-events: none;
}

.prev-page {
  right: 0;

  &-arrow {
    right: 10%;

    @media (max-aspect-ratio: 7/8) {
      right: calc(-0.5 * $body-padding-lr);
    }
  }
}

.next-page {
  left: 0;

  &-arrow {
    left: 10%;

    @media (max-aspect-ratio: 7/8) {
      left: calc(-0.5 * $body-padding-lr);
    }
  }
}

.prev-page[disabled],
.next-page[disabled] {
  cursor: default;
  display: none;
}

.prev-page,
.next-page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
  border: none;
  background: none;
  z-index: 1;
  cursor: pointer;

  &-arrow {
    $shadow: 10px;

    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    position: absolute;
    width: 50px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(0 0 $shadow #fff) drop-shadow(0 0 $shadow #fff);

    @media (max-aspect-ratio: 7/8) {
      // Set the width so that the edge exactly touches the edge of the pdf (for most pages)
      // 2039/2894 is the aspect ratio of most pages. The only wider pages have large margins, so the slight overlap is ok
      width: calc(0.5 * $body-padding-lr + 50% * (1 - 2039 / 2894));
    }

    &.show-tutorial {
      opacity: 0.75;
    }
  }

  @media (hover: hover) {
    &:hover .page-arrow-show {
      opacity: 0.75;
    }
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.hidden-page {
  display: none;
}

.current-page {
  object-fit: scale-down;
}

.bottom-nav-hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.bottom-nav {
  opacity: 0;
  transition: opacity ease-in-out 1s;
  background: rgb(0 0 0 / 70%);
  padding: 1rem 3rem;

  &.show-tutorial {
    opacity: 1;
  }
}

.bottom-nav-hover:hover .bottom-nav {
  opacity: 1;
  transition: opacity ease-in-out 0.2s;
}

.page-count {
  text-align: center;
  color: white;
  cursor: default;
}

.change-mode {
  margin-top: 0.5rem;
  border-radius: 2px;
  background: white;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-style: solid;
}
