/* stylelint-disable keyframes-name-pattern */
// See https://github.com/stylelint/stylelint/issues/5997
@use "../variables" as *;
@use "sass:math";

.page-container{
  
}

.page-box{
  height: 760px;
  aspect-ratio: auto;
  border-radius: 10px;
  font-family: 'Open Sans';
  padding: 5px;
  position: relative;
  overflow: visible;

}

.page-bg-static {
  &-elira {
    
    background-image: url("../assets/background/18.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-finana {
    background-image: url("../assets/background/18.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-pomu {
    background-image: url("../assets/background/18.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-home {
    z-index: -200;
    background-image: url("../assets/background/18.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
}




.page-bg-image {
  height: 30%;
  margin-left: 42.5%;
  position: fixed;
}

.page-bg-imagebg {
  height: 30%;
  margin-left: 42.5%;
  position: fixed;
  filter: blur(2px) brightness(50%);
}


