@use "../variables.scss" as *;

.footer {
  width: 100%;
  padding: 5vw 10vw;
  background-color: $box-background;
  position: relative;
  bottom: 0;
  left: 0;
  margin-top: auto;
}

.lazulight-footer-border {
  border-top: 3px solid $lazulight-primary-color;
}
