@use "../variables" as *;

.text-inner {
  padding: 2.5rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: $box-background-gradient;

  h2 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 0.9;
    margin-bottom: 2rem;

    // Easy solution to make the min size width more permissive. May as well right
    @media (max-width: $bp-mobile) {
      font-size: clamp(2rem, 13vw, 4rem);
    }
  }
}
