@use "../variables" as *;

.slideshow {
  &-container {
    $fade-left: 5%;
    $fade-right: 100% - $fade-left;

    padding-bottom: 2rem;
    mask-image: linear-gradient(
      to right,
      transparent,
      black $fade-left,
      black $fade-right,
      transparent
    );

    div {
      display: flex;
      margin: auto;
    }
  }

  &-slide {
    margin: auto;
    width: 90%;
    border: 3px solid $lazulight-primary-color;
    object-fit: contain;
    cursor: pointer;
  }
}

.project-heading {
  font-size: clamp(1rem, 5vw, 4.5rem);
  text-align: center;
  width: 100%;
  margin: auto;

  &-image {
    width: 100%;
    margin: auto;
  }

  &-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
}

.credits {
  // Grid control based off
  // https://css-irl.info/controlling-leftover-grid-items/

  &-text {
    h3 {
      font-size: 2rem;
      text-align: center;
    }

    h4 {
      font-size: clamp(1rem, 2.3vw, 1.5rem);
      text-align: center;
    }

    ul {
      // Remove bullets
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 1rem;
      flex: 1 1 auto;
      padding: 1rem;
      counter-reset: grid;
    }

    &-special-final li {
      // Important to override the high specificity
      grid-column: span 12 !important;
    }

    ul li {
      grid-column: span 4;

      // Dealing with 2 orphan items
      &:last-child:nth-child(3n - 1) {
        grid-column-end: -3;
      }

      &:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 7;
      }

      // Dealing with single orphan
      &:last-child:nth-child(3n - 2) {
        grid-column-end: 9;
      }

      a {
        text-decoration: none;
      }

      a:visited {
        color: inherit;
      }

      a:link {
        color: inherit;
      }
    }

    @media (max-width: $bp-tablet) {
      ul li {
        grid-column: span 6;

        // Undo desktop selectors
        &:last-child:nth-child(3n - 1) {
          grid-column-end: auto;
        }

        &:nth-last-child(2):nth-child(3n + 1) {
          grid-column-end: auto;
        }

        &:last-child:nth-child(3n - 2) {
          grid-column-end: auto;
        }

        // Dealing with single orphan
        &:last-child:nth-child(2n - 1) {
          grid-column-end: 10;
        }
      }
    }
    @media (max-width: $bp-mobile) {
      ul li {
        grid-column: span 12;

        // Undo tablet selector
        &:last-child:nth-child(2n - 1) {
          grid-column-end: auto;
        }
      }
    }

    ul li p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: clamp(1rem, 2.3vw, 1.25rem);
      color: $background-grey;
      background: $lazulight-primary-color;
      border-radius: 0.5rem;
      padding: 1rem;
      height: 100%;
    }

    // ul li h4 {
    // Attempt to put h4 inside li to compress the VN credits, but difficult to get working nice
    // }
  }
}
