@import "/node_modules/modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
}

// Need this on images using 'react-medium-image-zoom'
// But it's useful to just use it on all images
img,
picture {
  max-width: 100%;
  height: auto;
}

.text-xl {
  font-size: 2rem;
  line-height: 1.1;
}

.text-lg {
  font-size: 1.6rem;
  line-height: 1.3;
}

.text-md {
  font-size: 1.1rem;
  line-height: 1.5;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

p + p,
p + h3,
p + h4 {
  margin-top: 0.75em;
}

a {
  color: inherit;
  transition: color 75ms ease-out;

  &:hover {
    color: white;
  }
}

a.external-link-text {
  // Append external link indicator symbol
  &::after {
    content: "";
    padding-left: 1em;
    background-color: currentcolor;
    mask-image: url("./assets/externalLink.svg");
    mask-size: 0.6em;
    mask-position: top;
    mask-repeat: no-repeat;
  }
}

.talent-title {
  font-size: clamp(1rem, 7vw, 5rem);
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  line-height: 1;
  font-weight: 900;
  color: hsl(207deg 42% 80%);
  filter: drop-shadow(0 0 0.5rem hsl(210deg 9% 13%));
}

.talent-title.pomu {
  color: #ffd889;
  filter: drop-shadow(0 0 0.5rem #a6a550);
}

.talent-title.finana {
  color: #a8f7f4;
  filter: drop-shadow(0 0 0.5rem #609795);
}

.talent-title.elira {
  color: #fd83f3;
  filter: drop-shadow(0 0 0.5rem #eb60df);
}

.talent-title.contrast {
  filter: drop-shadow(0 0 0.5rem #552c52);
}
