@import "/node_modules/modern-normalize/modern-normalize.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;
}

// Need this on images using 'react-medium-image-zoom'
// But it's useful to just use it on all images
img,
picture {
  max-width: 100%;
  height: auto;
}

.text-xl {
  font-size: 2rem;
  line-height: 1.1;
}

.text-lg {
  font-size: 1.6rem;
  line-height: 1.3;
}

.text-md {
  font-size: 1.1rem;
  line-height: 1.5;
}

p {
  font-size: 1.1rem;
  line-height: 1.5;
}

p + p,
p + h3,
p + h4 {
  margin-top: 0.75em;
}

a {
  color: inherit;
  transition: color 75ms ease-out;

  &:hover {
    color: white;
  }
}

a.external-link-text {
  // Append external link indicator symbol
  &::after {
    content: "";
    padding-left: 1em;
    background-color: currentcolor;

    /* tslint:disable-next-line:scss/double-slash-comment-whitespace-inside */
    mask-image: url("/shared/externalLink.svg");
    mask-size: 0.6em;
    mask-position: top;
    mask-repeat: no-repeat;
  }
}

code {
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  hyphens: none;
  word-break: break-all;
}
