$pomu-primary-color: #459aa4;
$finana-primary-color: #1c374a;
$elira-primary-color: #2b3166;
$background-grey: rgb(229 229 229 / 80%);
$background-gradient: linear-gradient(
  300deg,
  rgb(204 212 230 / 80%),
  rgb(229 229 229 / 80%)
);
$bp-tablet: 768px;
$bp-mobile: 480px;
