@use "../variables" as *;

.home {
  &-heading {
    font-size: clamp(1rem, 7vw, 8rem);
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    line-height: 1;
    font-weight: 900;
    color: white;

    span:nth-of-type(1) {
      color: #fd83f3;
      filter: drop-shadow(0 0 0.5rem #763e71);
    }

    span:nth-of-type(2) {
      color: #a8f7f4;
      filter: drop-shadow(0 0 0.5rem #4e7271);
    }

    span:nth-of-type(3) {
      color: #ffd889;
      filter: drop-shadow(0 0 0.5rem #73613c);
    }
  }

  &-subheading {
    font-size: clamp(1rem, 5vw, 5rem);
    text-align: center;
    width: 100%;
    line-height: 1.1;
    font-weight: 900;
    color: rgb(182 206 225);
    filter: drop-shadow(0 0 0.5rem rgb(0 0 0 / 50%));
  }

  &-liver {
    &-container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      a {
        text-decoration: none;
      }
    }

    &-liver {
      position: relative;

      h3 {
        text-align: center;
        margin: 0;
        transform: translateY(-50%);

        @media (max-width: $bp-mobile) {
          font-size: 1rem;
          position: relative;
          bottom: 0;
          left: 0;
          transform: none;
        }
      }

      picture,
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
